.button {
  padding: 20px 145px;
  color: #fff;
  background: var(--red);
  font: 400 18px/21px $yeseva;
  text-decoration: none;
  border: 1px solid var(--red);

  @media (max-width: $desktop) {
    padding: 17px 75px;
    color: #000;
    background: #fff;
  }

  &:hover {
    border: 1px solid #fff;
    transition: all 0.3s;
    @media (max-width: $desktop) {
      border: none;
    }

    @media (max-width: $mobile) {
      margin-bottom: 55px;
    }
  }
}
