.main {
  &__circle {
    &-left {
      width: 216px;
      height: 308px;
      top: 40px;
      left: 0;
      @media (max-width: $mobile) {
        width: 179px;
        height: 255px;
        top: -98px;
        left: -71px;
      }
    }

    &-right {
      width: 244px;
      height: 376px;
      bottom: -70px;
      right: -85px;
      @media (max-width: $mobile) {
        width: 140px;
        height: 215px;
        bottom: -30px;
        right: -20px;
      }
    }
  }
}

.backstage {
  &__circle {
    &-left {
      width: 180px;
      height: 148px;
      bottom: 15px;
      left: 0;
      @media (max-width: $mobile) {
        width: 151px;
        height: 142px;
        left: -60px;
        top: 0;
      }
    }

    &-right {
      width: 230px;
      height: 352px;
      top: -30px;
      right: -55px;

      @media (max-width: $mobile) {
        width: 125px;
        height: 191px;
        top: auto;
        bottom: -90px;
        right: -45px;
      }
    }
  }
}

.more {
  &__circle {
    &-left {
      width: 186px;
      height: 109px;
      top: 105px;
      left: 35px;
      @media (max-width: $mobile) {
        width: 186px;
        height: 109px;
        top: -30px;
        left: -30px;
      }
    }

    &-right {
      width: 329px;
      height: 189px;
      bottom: -60px;
      right: -75px;
      @media (max-width: $mobile) {
        width: 149px;
        height: 85px;
        bottom: -45px;
        right: -5px;
      }
    }
  }
}

.animal {
  &__circle {
    &-left {
      width: 189px;
      height: 129px;
      bottom: 10px;
      left: 15px;
      @media (max-width: $mobile) {
        width: 95px;
        height: 77px;
        bottom: auto;
        top: 2px;
        left: -28px;
      }
    }

    &-right {
      width: 230px;
      height: 369px;
      top: -25px;
      right: -60px;
      @media (max-width: $mobile) {
        width: 81px;
        height: 130px;
        top: auto;
        right: -22px;
        bottom: -83px;
      }
    }
  }
}

.help {
  &__circle {
    &-left {
      width: 150px;
      height: 152px;
      top: 100px;
      left: 15px;
      @media (max-width: $mobile) {
        width: 76px;
        height: 77px;
        top: 23px;
        left: -18px;
      }
    }

    &-right {
      width: 232px;
      height: 248px;
      bottom: -15px;
      right: 5px;
      @media (max-width: $mobile) {
        width: 66px;
        height: 70px;
        bottom: 0;
        right: -5px;
      }
    }
  }
}

.circle {
  &__left {
    position: absolute;
    overflow: hidden;
  }

  &__right {
    position: absolute;
    overflow: hidden;
    z-index: 10;
  }
}
