//CSS Variables
:root {
  --black: #1e1818;
  --red: #960000;
  --grey: #828282;
  --dred: #6b0000;
}

//Fonts
$merri: "Merriweather", serif;
$yeseva: "Yeseva One", cursive;

//Width for mobile/tablet
$mobile: 767px;
$desktop: 1024px;
