.wrapper__four {
  background: #fff;
  background-size: auto 100vh;
  width: 100vw;
  padding-top: 115px;

  @media (max-width: $mobile) {
    padding-top: 45px;
  }
}

.animal {
  color: var(--black);

  &__info {
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__block {
    text-align: center;
  }

  &__title {
    font: 400 48px/55px $yeseva;
    margin-bottom: 45px;

    @media (max-width: $mobile) {
      width: 50%;
      margin: 0 auto 40px auto;
      font: 400 24px/28px $yeseva;
    }
  }

  &__text {
    font: 400 16px/20px $merri;
    margin-bottom: 20px;

    @media (max-width: $mobile) {
      font: 400 14px/18px $merri;
      margin-bottom: 20px;
    }
  }

  &__images {
    display: flex;
    justify-content: flex-end;

    @media (max-width: $mobile) {
      justify-content: center;
    }
  }

  &__wall {
    @include size(665px, 415px);
    @include pos(relative, $r: 0);

    @media (max-width: $mobile) {
      margin-bottom: 45px;
      @include size(290px, 848px);
    }
  }

  &__image {
    position: absolute;
    &--left {
      @include pos($t: 0, $l: 0, $z: 1);

      @media (max-width: $mobile) {
        @include size(257px, 269px);
        @include pos($t: auto, $l: auto, $r: 0, $b: 0);
      }
    }

    &--center {
      @include pos($t: 75px, $l: 140px, $z: 2);

      @media (max-width: $mobile) {
        @include size(258px, 158px);
        @include pos($t: 0, $l: 0, $z: 1);
      }
    }

    &--right {
      @include pos($r: 0, $z: 3);

      @media (max-width: $mobile) {
        @include size(258px, 361px);
        @include pos($r: auto, $t: 259px, $l: 0, $z: 1);
      }
    }

    &--bottom {
      @include pos($b: 0, $l: 0, $z: 3);

      @media (max-width: $mobile) {
        @include size(257px, 150px);
        @include pos($b: auto, $t: 130px, $l: auto, $r: 0, $z: 2);
      }
    }
  }
}
