.wrapper__one {
  background: url(../images/frame1-bg.png) no-repeat;
  background-size: auto 100vh;
  width: 100vw;
  background-position: -60px 60px;
}

.main {
  color: #fff;
  &__socials {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 50px;
    font: 400 16px/20px $merri;
  }

  &__info {
    margin-right: -40px;
    position: relative;
    z-index: 99;
    &-phone {
      &--number {
        text-decoration: none;
        color: currentColor;
      }
    }
  }

  &__facebook {
    fill: #fff;
    position: relative;
    @include size(30px, 30px);
    left: 215px;
    transition: all 0.3s;

    &:hover {
      fill: var(--grey);
    }
  }
  &__instagram {
    fill: #fff;
    position: relative;
    @include size(30px, 30px);
    left: 265px;
    transition: all 0.3s;

    &:hover {
      fill: var(--grey);
    }
  }

  &__description {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;

    &-title {
      font: 400 48px/55px $yeseva;
      margin-right: -20%;
    }
    &-text {
      align-self: flex-start;
      width: 80%;
      font: 400 16px/20px $merri;
    }
  }
}
